/.jsdtscope
/org.eclipse.core.resources.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.m2e.core.prefs
/org.eclipse.wst.common.component
/org.eclipse.wst.common.project.facet.core.xml
/org.eclipse.wst.jsdt.ui.superType.container
/org.eclipse.wst.jsdt.ui.superType.name
/org.eclipse.wst.validation.prefs
